Src/Azure/LogicApps/LSSIntegrations-SBNS/Staging-Contact.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "Select_sorted_props": {
              "type": "Select",
              "inputs": {
                  "from": "@triggerBody()",
                  "select": {
                      "sortKey": "@concat(item()?['correlationId'], '-', item()?['contentData']?['messageName'], '-', item()?['contentData']?['initiatedOn'], '-', item()?['contentData']?['document']?['contactid'])",
                      "originalItem": "@item()",
                      "messageId": "@item()?['messageId']",
                      "lockToken": "@item()?['lockToken']"
                  }
              },
              "runAfter": {}
          },
          "Order_the_messages": {
              "type": "Compose",
              "inputs": "@sort(body('Select_sorted_props'), 'sortKey')",
              "runAfter": {
                  "Select_sorted_props": [
                      "SUCCEEDED"
                  ]
              }
          },
          "For_Each_Message": {
              "type": "foreach",
              "foreach": "@outputs('Order_the_messages')",
              "actions": {
                  "Parse_JSON": {
                      "type": "ParseJson",
                      "inputs": {
                          "content": "@item()?['originalItem']",
                          "schema": {
                              "type": "object",
                              "properties": {
                                  "contentData": {
                                      "type": "object",
                                      "properties": {
                                          "initiatedOn": {
                                              "type": "integer"
                                          },
                                          "messageName": {
                                              "type": "string"
                                          },
                                          "logLevel": {
                                              "type": "string"
                                          },
                                          "document": {
                                              "type": "object",
                                              "properties": {}
                                          }
                                      },
                                      "required": [
                                          "initiatedOn",
                                          "messageName",
                                          "logLevel",
                                          "document"
                                      ]
                                  },
                                  "contentType": {
                                      "type": "string"
                                  },
                                  "messageId": {
                                      "type": "string"
                                  },
                                  "scheduledEnqueueTimeUtc": {
                                      "type": "string"
                                  },
                                  "sessionId": {
                                      "type": "string"
                                  },
                                  "correlationId": {
                                      "type": "string"
                                  },
                                  "timeToLive": {
                                      "type": "string"
                                  },
                                  "deliveryCount": {
                                      "type": "integer"
                                  },
                                  "enqueuedSequenceNumber": {
                                      "type": "integer"
                                  },
                                  "enqueuedTimeUtc": {
                                      "type": "string"
                                  },
                                  "lockedUntilUtc": {
                                      "type": "string"
                                  },
                                  "sequenceNumber": {
                                      "type": "integer"
                                  },
                                  "userProperties": {
                                      "type": "object",
                                      "properties": {
                                          "request-Id": {
                                              "type": "string"
                                          }
                                      }
                                  },
                                  "lockToken": {
                                      "type": "string"
                                  }
                              },
                              "required": [
                                  "contentData",
                                  "messageId",
                                  "sessionId",
                                  "correlationId",
                                  "deliveryCount",
                                  "sequenceNumber"
                              ]
                          }
                      }
                  },
                  "Event_messageName": {
                      "type": "Switch",
                      "expression": "@body('Parse_JSON')?['contentData']?['messageName']",
                      "default": {
                          "actions": {}
                      },
                      "cases": {
                          "Create": {
                              "actions": {
                                  "Insert_row": {
                                      "type": "ServiceProvider",
                                      "inputs": {
                                          "parameters": {
                                              "tableName": "[stg].[Contact]",
                                              "setColumns": "@outputs('Build_the_Action_Content_Body')?['body']"
                                          },
                                          "serviceProviderConfiguration": {
                                              "connectionName": "sql-6",
                                              "operationId": "insertRow",
                                              "serviceProviderId": "/serviceProviders/sql"
                                          }
                                      }
                                  }
                              },
                              "case": "Create"
                          },
                          "Update": {
                              "actions": {
                                  "If_Has_Updates": {
                                      "type": "If",
                                      "expression": {
                                          "and": [
                                              {
                                                  "equals": [
                                                      "@outputs('Build_the_Action_Content_Body')?['hasUpdates']",
                                                      "@true"
                                                  ]
                                              }
                                          ]
                                      },
                                      "actions": {
                                          "Update_rows": {
                                              "type": "ServiceProvider",
                                              "inputs": {
                                                  "parameters": {
                                                      "tableName": "[stg].[Contact]",
                                                      "setColumns": "@outputs('Build_the_Action_Content_Body')?['body']",
                                                      "columnValuesForWhereCondition": {
                                                          "ContactID": "@{body('Parse_JSON')['contentData']['document']?['contactid']}"
                                                      }
                                                  },
                                                  "serviceProviderConfiguration": {
                                                      "connectionName": "sql-6",
                                                      "operationId": "updateRows",
                                                      "serviceProviderId": "/serviceProviders/sql"
                                                  }
                                              }
                                          }
                                      },
                                      "else": {
                                          "actions": {}
                                      }
                                  }
                              },
                              "case": "Update"
                          },
                          "Delete": {
                              "actions": {
                                  "Delete_rows": {
                                      "type": "ServiceProvider",
                                      "inputs": {
                                          "parameters": {
                                              "tableName": "[stg].[Contact]",
                                              "columnValuesForWhereCondition": "@outputs('Build_the_Action_Content_Body')?['body']"
                                          },
                                          "serviceProviderConfiguration": {
                                              "connectionName": "sql-6",
                                              "operationId": "deleteRows",
                                              "serviceProviderId": "/serviceProviders/sql"
                                          }
                                      }
                                  }
                              },
                              "case": "Delete"
                          }
                      },
                      "runAfter": {
                          "Build_the_Action_Content_Body": [
                              "SUCCEEDED"
                          ]
                      }
                  },
                  "Build_the_Action_Content_Body": {
                      "type": "JavaScriptCode",
                      "inputs": {
                          "code": "const body = workflowContext.actions.Parse_JSON.outputs.body;\r\nif (!body) throw new Error(\"No body found in the Parse_JSON action\");\r\n\r\nconst source = body.contentData.document;\r\nif (!source) throw new Error(\"No document found in the body\");\r\n\r\nconst messageName = body.contentData.messageName;\r\n\r\nconst primaryIdAttr = \"contactid\";\r\n\r\nif (messageName === \"Delete\") {\r\n  return {\r\n    hasUpdates: true,\r\n    body: {\r\n      [primaryIdAttr]: source[primaryIdAttr]\r\n    }\r\n  };\r\n}\r\n\r\nconst tableColumns = [\r\n  \"Address1_City\",\r\n  \"Address1_Country\",\r\n  \"Address1_Line1\",\r\n  \"Address1_Line2\",\r\n  \"Address1_PostalCode\",\r\n  \"BirthDate\",\r\n  \"EMailAddress1\",\r\n  \"FirstName\",\r\n  \"FullName\",\r\n  \"GenderCode\",\r\n  \"GenderCodeName\",\r\n  \"LastName\",\r\n  \"MiddleName\",\r\n  \"MobilePhone\",\r\n  \"Modifiedon\",\r\n  \"new_BusinessExit\",\r\n  \"new_ClientEndDate\",\r\n  \"new_ClientStartDate\",\r\n  \"new_DateofHire\",\r\n  \"new_managingpartyid\",\r\n  \"new_managingpartyidName\",\r\n  \"new_PMI\",\r\n  \"OwnerId\",\r\n  \"OwnerIdName\",\r\n  \"pics_Address1_CountyIdName\",\r\n  \"pics_Address1State\",\r\n  \"pics_Client\",\r\n  \"pics_ContactID\",\r\n  \"pics_Employee\",\r\n  \"pics_EmploymentStatus\",\r\n  \"pics_EmploymentStatusName\",\r\n  \"pics_FEINHolder\",\r\n  \"pics_ManagingParty\",\r\n  \"pics_MPStatus\",\r\n  \"pics_SSN\",\r\n  \"pics_Terminationdate\",\r\n  \"pics_VendorIDFEA\",\r\n  \"pics_VendorIDPICS\",\r\n  \"Statuscode\",\r\n  \"StatuscodeName\",\r\n  \"Suffix\",\r\n  \"Telephone2\"\r\n].map(n => n.toLowerCase());\r\n\r\nfunction isValueString(value) {\r\n  return typeof value === \"string\" || value instanceof String;\r\n}\r\n\r\nfunction isValueBoolean(value) {\r\n  return typeof value === \"boolean\" || value instanceof Boolean;\r\n}\r\n\r\nfunction isStringDate(dateString) {\r\n  return !isNaN(Date.parse(dateString));\r\n}\r\n\r\nfunction formatDateStringToSql(dateString) {\r\n  return dateString.replace(\"Z\", \"\").replace(/\\.\\d+/, \"\").replace(/T/, \" \");\r\n}\r\n\r\nfunction parseValueSQLString(value) {\r\n  if (isValueString(value)) {\r\n    if (value.includes(\"'\")) {\r\n      value = value.replace(/'/g, \"''\");\r\n    }\r\n\r\n    if (isStringDate(value)) {\r\n      value = formatDateStringToSql(value);\r\n    }\r\n\r\n    return value === null || value === undefined ? \"null\" : value.toString();\r\n  }\r\n\r\n  if (isValueBoolean(value)) {\r\n    return value ? \"1\" : \"0\";\r\n  }\r\n\r\n  return value === null || value === undefined ? \"null\" : value.toString();\r\n}\r\n\r\n// Only include primary ID in the body object if the message is not \"Update\"\r\nif (messageName !== \"Update\") tableColumns.push(primaryIdAttr);\r\n\r\nconst sourceKeys = Object.keys(source);\r\n\r\nconst result = sourceKeys.reduce((acc, colName) => {\r\n  if (!tableColumns.includes(colName)) return acc;\r\n\r\n  acc[colName] = parseValueSQLString(source[colName]);\r\n  return acc;\r\n}, {});\r\n\r\nreturn {\r\n  body: result,\r\n  hasUpdates: messageName !== \"Update\" || Object.keys(result).length > 0\r\n};"
                      },
                      "runAfter": {
                          "Parse_JSON": [
                              "SUCCEEDED"
                          ]
                      }
                  },
                  "Complete_the_message_in_a_session": {
                      "type": "ServiceProvider",
                      "inputs": {
                          "parameters": {
                              "messageId": "@items('For_Each_Message')?['messageId']",
                              "lockToken": "@items('For_Each_Message')?['lockToken']"
                          },
                          "serviceProviderConfiguration": {
                              "connectionName": "serviceBus",
                              "operationId": "completeMessageInSession",
                              "serviceProviderId": "/serviceProviders/serviceBus"
                          }
                      },
                      "runAfter": {
                          "Event_messageName": [
                              "SUCCEEDED"
                          ]
                      }
                  }
              },
              "runAfter": {
                  "Order_the_messages": [
                      "SUCCEEDED"
                  ]
              }
          }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "triggers": {
          "On_new_messages_from_contact_staging_queue_session": {
              "type": "ServiceProvider",
              "kind": "Polling",
              "inputs": {
                  "parameters": {
                      "queueName": "staging-dataverse-entity",
                      "sessionId": "contact",
                      "maxMessages": 10
                  },
                  "serviceProviderConfiguration": {
                      "connectionName": "serviceBus",
                      "operationId": "onNewMessagesFromQueueSession",
                      "serviceProviderId": "/serviceProviders/serviceBus"
                  }
              },
              "recurrence": {
                  "interval": 5,
                  "frequency": "Second",
                  "timeZone": "Mountain Standard Time",
                  "startTime": "2025-3-19T11:00:00"
              },
              "runtimeConfiguration": {
                  "concurrency": {
                      "runs": 1
                  }
              }
          }
      }
  },
  "kind": "Stateful"
}